In [2]:
#ATRIBUIR ELEMENTOS A LISTA
dias = [3, 1, 10]
print(dias)

[3, 1, 10]

In [7]:
#CHAMAR ELEMENTO COM RELAÇAO A POSICAO NA LISTA
dias[0]

3

In [6]:
#CHAMAR ELEMENTO COM RELAÇAO A POSICAO NA LISTA
dias[1]

1

In [8]:
#CHAMAR ELEMENTO COM RELAÇAO A POSICAO NA LISTA
dias[2]

10

In [23]:
#ATRIBUIR ELEMENTOS
Z = [5,8,9]

In [24]:
Z[0]

5

In [13]:
V = [6,7,5,8,9]

L = V

V[0] = 5

print(V)

print(L)

In [14]:
a = [81,82,83]

In [15]:
b = a[:]

In [16]:
print(a==b)

True

In [17]:
print(a is b)

False

In [18]:
b[0] = 5

In [19]:
print(a)

[81, 82, 83]

In [20]:
print(b)

[5, 82, 83]

In [25]:
uma_lista = ['a','b','c','d','e','f',]

In [ ]:
print(uma_lista[1:3])

In [ ]:
print(uma_lista[:4])

In [ ]:
print(uma_lista[3:])

In [ ]:
print(uma_lista[:])

In [28]:
a = [1,2,3]
b = a[:]
b[0] = 5
print (a[2])

3

In [63]:
kk = "pitomba"
kk1 = "76"
minhaLista_ = ['pitomba',76]
minhaLista = [76,92.3,'oi',True,4,76]
minhaLista[5] = kk1,kk,kk1
print(minhaLista)

[76, 92.3, 'oi', True, 4, ('76', 'pitomba', '76')]

In [68]:
minhaLista1 = [76,92.3,'oi',True,4,76]
lista2 = minhaLista1 + lst1
lista2

[76,
 92.3,
 'oi',
 True,
 4,
 76,
 'pitomba',
 76,
 76,
 92.3,
 'oi',
 True,
 4,
 ('76', 'pitomba', '76')]

In [61]:
minhaLista[3] = 'Cibele'
print(minhaLista)

[76, 92.3, 'oi', 'Cibele', 4, ('76', 'pitomba', '76')]

In [64]:
lst1 = ['pitomba',76]
print(lst1)

['pitomba', 76, 76, 92.3, 'oi', True, 4, ('76', 'pitomba', '76')]

In [11]:
 #a)
ml1 = [76,92.3,'oi',True,4,76]
""" """ ml2 = ['pitomba',76]
ml3 = ml1 + ml2
print(ml3)
#b)

ml1[:3] += ["cibele"]
ml1

#c)

ml1[:0] += [99]
ml1 """



""" ml1 = [76,92.3,'oi',True,4,76]

if ml1[0] = 'oi':
    print("ESSE É O OI")

elif ml1[1] = 'oi':
    print("esse é o oi")

elif ml1[2] = 'oi':
    print("esse é o oi")



#e)
ml1 [3:4] = []
ml1

SyntaxError: unterminated triple-quoted string literal (detected at line 33) (3205632452.py, line 31)